<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Sen halayan kinon baha berildi</h1>
    <p>Hasgtag kino goruldi yenede gor yenede baha ber</p>
    <p><%= link_to "Sign Up to write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>